.profile__avatar-container {
  position: relative;
  cursor: pointer;
}

.profile__avatar-container:hover:after {
  content: "";
  display: block;
  position: absolute;
  top: 0;
  left: 0;
  width: 120px;
  height: 120px;
  border-radius: 50%;
  background-image: url("../../../images/edit.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: 26px 26px;
}

.profile__avatar-container:hover .profile__avatar {
  opacity: 0.2;
}
